.hourly-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
  gap: 12px;

  /* Ocultar barra de desplazamiento */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}


