// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ffffff;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-color-primary-contrast: #243b55;
  --ion-color-primary-contrast-rgb: 36, 59, 85;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #ffffff;

  /** Backgrounds **/
  --ion-background-color: #141e30; 
  --ion-background-color-rgb: 20, 30, 48;
  
  /** Text **/
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /** Item Backgrounds (Reset to transparent for glassmorphism) **/
  --ion-item-background: transparent;
  --ion-card-background: rgba(255, 255, 255, 0.1);
}
