:host {
  display: inline-block;
  width: 50px;
  height: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.8));
}
